* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
#container{
  position: relative;
  float: left;
}
.title{
  background-color:yellow;
  margin-left: 70%;
  height: auto;
  right:-10px;
  top:-5px;
  border:1px solid black ;
  text-align: center;
  overflow: visible;
  position: relative;
}


#box1,#box2,#box3{
  width: 30%;
  height: 30%;
  background-color: #00FFFF;
  position: relative;
  top: 50px;
  margin-left: 20px;
  padding:5px 10px;
  float: left;
  border: 1px solid black;
  text-align: left;
  overflow: visible;
}

.con{
  margin-top: 10px;
}

/*********** Desktop View**************/
@media (min-width: 992px) {
  .title{
    width: 30%;
  }
}
/*********** Tablet View **************/
@media (min-width: 768px) and (max-width:991px) {
  #box3{
    margin-top: 20px;
    width: 92%;
    height: 30%;
  }
  #box1,#box2{
    height: auto;
    width: 45%;    
  }
  .title{
    text-align: center;
    margin-left: 70%;
  }
  }

/*********** Mobile view **************/
@media (max-width:767px) {
  #box1,#box2,#box3{
    width:90%;
    margin-top: 20px;
  }
  }
